*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #0d6efd;
    padding: 20px;
    border: 2px solid #083f92 ;
}
.title{
    font-size: 50px;
    display: flex;
    justify-content: center;
    animation: titlescale;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes titlescale {
    to{transform: scale(.5);}
    from{transform: scale(-.5);}
}
.container-fluid{
    border: 1px double #083f92;
}
.secti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image:linear-gradient(#0d6efd, #83aef0 ) ;
}
.container{
    background-image:linear-gradient(#83aef0, #0d6efd);
    max-width: 2560px;
}
footer{
    background-image:linear-gradient(#0d6efd, #83aef0 ) ;
    padding: 20px;

}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
}
footer ul li a:visited{
    text-decoration: none;
    color: black;
}
